.container-fixed{ width: 1440px; margin: 0 auto;background-color: hsl(209, 23%, 22%) ;   }

.container{ width: 1280px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; }


.each-country{border-radius: 10px; width: 270px; height: 340px; margin-bottom: 80px; background-color:   rgb(32, 44, 55) ;}
.each-country .image-container{ width:100%; min-height: 190px;  max-height: 100% ; background-size:contain;  background-repeat: no-repeat; }