.filter-content{ margin: 50px 0;  width: 100%; display: flex; justify-content: space-between; }
.filter-content div{width: 50%;}
.filter-content div:nth-of-type(2){ text-align: right;}
.filter-search input{ width: 75%; height: 50px; color:#fff; border-radius: 5px; outline: none; padding-left: 25px;  background-color: hsl(209, 23%, 22%) ; border: 0;}
::placeholder{color:rgba($color: #fff, $alpha: 0.8); }

.filter-choose select{ width: 30%; height: 50px;  background-color: hsl(209, 23%, 22%) ; border: none; padding: 10px 20px; border-radius: 5px; }