
*{ margin: 0; padding: 0;  box-sizing: border-box; color: #fff; font-family: 'Nunito Sans', sans-serif; list-style: none; text-decoration: none;}

.container-fixed{ width: 1440px; margin: 0 auto;  background-color: hsl(207, 26%, 17%) ;  }

.container{ width: 1280px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; }


